
 <ion-header>


  <ion-navbar color="third">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="isLoggedIn; else loginTemplate">

    <h1>Welcome, {{displayName}}!</h1>
    <p>Email: {{email}}<br>
      Family Name: {{familyName}}<br>
      Given Name: {{givenName}}<br>
      User ID: {{userId}}
      Gender: {{gender}}<br>
      birthday: {{birthday}}<br>
      ageMin: {{ageMin}}</p>
    <p><ion-avatar item-left>
      <img src="{{imageUrl}}">
      </ion-avatar></p>
    <p><button ion-button (click)="signOut()">Logout From Google</button></p>
    <button ion-button block (click)="displayData()">Display Data</button>
  </div>

  <!-- <ng-template #loginTemplate>
    <h1>Please Login to see your Google Account Information</h1>
    <p><button ion-button (click)="login()">Login With Google</button></p>
    <p><button ion-button (click)="signOut()">Logout From Google</button></p>
    <button ion-button block (click)="displayData()">Display Data</button>

  </ng-template> -->
</ion-content>


<!-- <div *ngIf="(user | async) || {} as user">

<button ion-button *ngIf="!user.uid" (tap)="googleLogin()" >Login with google</button>
<span *ngIf="check(user.uid)"></span>

</div> -->
