
<ion-header >
  <ion-navbar color="primary" >
    <ion-buttons end>
      <button icon-only ion-button>
        <ion-avatar >
          <img src="../../assets/img/icono-cun-verde.png" width="30px" height="30px;" style="margin-right: 10px; padding: 5px" >
        </ion-avatar>
      </button>
    </ion-buttons>
    <ion-title end>Horario</ion-title>   
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6  *ngFor="let miHorario of currentDay; let i = index; last as isLast " (click)="showModal()">
        <button class="estiloHorario" *ngIf="!isLast">
          <div class="iconoImg" >                     
              <img class="imageIcono" [src]="miHorario.imagen" alt="">         
          </div>
        </button>           
      </ion-col>        
    </ion-row> 
    <ion-row>
      <ion-col col-12  (click)="showModal()">
        <button class="HorarioVirtual" *ngIf="virtual">
          <div class="iconoImg" >                     
              <img class="imageIcono" src="../../assets/img/18vitapp.png" alt="">         
          </div>
        </button>            
      </ion-col>
    </ion-row>
  </ion-grid >
</ion-content>
